@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 1200px;
    position: absolute;
    top: 80px;
    width: 95%;
    padding: 20px 50px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 150%;
    color: #313131;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2C2F33;
    color: #fff;
    height: 70px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #7160EC;
}

.wish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

img {
    height: auto;
    width: 100%;
    max-width: 600px;
}

.wish-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #fff;
    border: 3px solid #8A7DE8;
    color: #8A7DE8;
}

button:active {
    transform: scale(0.98);
    ;
}

button:focus {
    outline: 0;
}

button.ten-wish {
    width: 130px;
}

button.single-wish {
    width: 90px;
}

.pull-count {
    font-weight: bold;
    color: #8A7DE8;
    font-size: 16px;
}

.pull-count span {
    color: #2e2e2e;
    font-size: 150%;
}

.card-border {
    background-color: #fff;
    border: 2px solid #8A7DE8;
    height: 380px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.card-container {
    background-color: #fff;
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.card {
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 5px;
    height: 300px;
    width: 100px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.card.slide-in {
    opacity: 1;
    transform: translateX(-30px);
    transition: all 0.3s ease-in;
}

.card img {
    transform: scale(0.90);
    width: 100%;
    height: 30%;
    object-fit: cover;
}



